<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" path="index.aspx" pattern="index.aspx$" page="index.aspx" querystring="" templet="index.html" channel="0" type="index" inherit="DTcms.Web.UI.Page.index" />
  <rewrite name="search" path="search.aspx" pattern="search.aspx" page="search.aspx" querystring="" templet="search.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.search" />
  <rewrite name="error" path="error.aspx" pattern="error.aspx" page="error.aspx" querystring="" templet="error.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.error" />
  <rewrite name="feedback" path="feedback.aspx" pattern="feedback.aspx$" page="feedback.aspx" querystring="" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="feedback1" path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx$" page="feedback.aspx" querystring="page=$1" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="link" path="link.aspx" pattern="link.aspx$" page="link.aspx" querystring="" templet="link.html" channel="0" type="" inherit="DTcms.Web.Plugin.Link.link" />
</urls>