<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set (string){category_title}=get_category_title({model.category_id},"图片分享")%>
<title>{model.title} - {category_title} - {config.webname}</title>
<link rel="stylesheet" href="{config.webpath}scripts/ui/skins/Aqua/css/ligerui-all.css" />
<link rel="stylesheet" href="{config.templateskin}/css/style.css" />
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/slide.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/digg_ajax.js"></script>
<script type="text/javascript">
	$(function(){
		bindDigg('{config.webpath}', 'photo', '{model.id}');
	});
</script>
</head>
<body>
<div class="container_12">
 <!-- .header -->
 <%template src=/_header.html/%>
 <!-- /.header -->
 <div class="clear"></div>
 <div class="grid_8">
  <%set (string){category_nav}=get_category_menu("photo_list1", model.category_id)%>
  <h2 class="page_title_view"><a href="<%linkurl("photo_list","")%>">图片分享</a>{category_nav}</h2>
  <h3 class="page_news_title">{model.title}</h3>
  <i class="page_news_date">
   {model.add_time}&nbsp;&nbsp; 人气：{model.click}次&nbsp;&nbsp; 
   <!--扩展属性开始-->
    <%if model.photo_attribute_values!=null%>
    <%loop (DTcms.Model.photo_attribute_value) modelt2 model.photo_attribute_values%>
    {modelt2.title}：{modelt2.content}&nbsp;&nbsp; 
    <%/loop%>
    <%/if%>
   <!--扩展属性结束-->
  </i>
  <!--幻灯片开始-->
  <div class="slide_box">
    <div id="pic_box" class="pic_box">
      <a class="big_prev"></a><a class="big_next"></a>
      <div id="pic_show"></div>
    </div>
    <div class="scroll_box">
      <a class="small_prev"></a><a class="small_next"></a>
      <div id="pic_scroll" class="items">
        <ul>
          <%if model.photo_albums!=null%>
          <%loop (DTcms.Model.photo_album) modelt1 model.photo_albums%>
          <li><a href="javascript:;"><img bimg="{modelt1.big_img}" src="{modelt1.small_img}" /></a></li>
          <%/loop%>
          <%/if%>
        </ul>
       </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--幻灯片结束-->
  <div class="line10"></div>
  <div class="page_content">
   {model.content}
  </div>
  <div class="line10"></div>
  <!--分享-->
  <%template src=/_share_js.html/%>
  <!--/分享-->
  <div class="line10"></div>
  <!--顶踩-->
  <%template src=/_digg_box.html/%>
  <!--/项踩-->
  <h3>推荐图片</h3>
  <ul class="other_news_list">
   <%set (DataTable){photo_list5}=get_photo_list(channel_id, model.category_id, 5, "is_lock=0 and is_red=1")%>
   <%loop pdr5 photo_list5%>
   <li><a target="_blank" href="<%linkurl("photo_show",{pdr5[id]})%>"><%cutstring({pdr5[title]},82)%></a><span>( <%datetostr({pdr5[add_time]},yyyy-MM-dd)%> )</span></li>
   <%/loop%>
  </ul>
  <!--评论-->
  <%if model.is_msg==1%>
  <%template src=/_comment_box.html/%>
  <input type="hidden" id="turl" value="<%linkurl("photo_show",{model.id})%>" />
  <%/if%>
  <!--/评论-->
 </div>
 <!-- end content -->
 <div class="grid_4 sidebar">
  <!--类别-->
   <ul class="sidebar_nav">
    <%set (DataTable){category_list}=get_category_list(channel_id, 0)%>
    <%loop cdr category_list%>
    <li>
      <%csharp%>
      int layer_width=(Convert.ToInt32(cdr["class_layer"])-1)*18;
      <%/csharp%>
      <span style="width:{layer_width}px;text-align:right;display:inline-block;"></span>
      <a href="<%linkurl("photo_list1",{cdr[id]},1)%>">{cdr[title]}</a></li>
    <%/loop%>
   </ul>
 <!--/类别-->
  <h2><a href="<%linkurl("photo_list","")%>">热门图片</a></h2>
  <ul class="news_list">
   <%set (DataTable){photo_top8}=get_photo_list(channel_id, model.category_id, 8, "is_lock=0", "click desc,add_time desc")%>
   <%loop pdr8 photo_top8%>
   <li><span>( 人气:{pdr8[click]} )</span><a href="<%linkurl("photo_show",{pdr8[id]})%>"><%cutstring({pdr8[title]},32)%></a></li>
   <%/loop%>
  </ul>

 </div>
 <!-- end sidebar -->
 <!-- .footer -->
 <%template src=/_footer.html/%>
 <!-- /.footer -->
</div>
</body>
</html>