<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站内搜索 - {config.webname}</title>
<link rel="stylesheet" href="{config.templateskin}/css/style.css" />
<link rel="stylesheet" href="{config.webpath}css/pagination.css" />
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
</head>
<body>
<div class="container_12">
  <!-- .header -->
  <%template src=/_header.html/%>
  <!-- /.header -->
  <div class="clear"></div>
  <div class="grid_8" style="width:940px;">
    <%set (DataTable){list}=get_search_list(15, out totalcount)%> <!--取得一个DataTable-->
	<%set (string){pagelist}=get_page_link(15, page, totalcount, "search.aspx?keyword="+Server.UrlEncode(keyword)+"&page=__id__")%> <!--取得分页页码列表-->
    <h2 class="page_title_view"><a>首页</a> &gt; <a>站内搜索</a></h2>
    <h3 class="page_news_title">站内搜索</h3>
    <i class="page_news_date">搜索关健字：{keyword}，共有{totalcount}记录 </i>
    <ul class="page_news_list">
      <%loop dr list%>
      <li>
        <a target="_blank" href="{dr[link_url]}">{dr[title]}</a><span>( <%datetostr({dr[add_time]},yyyy-MM-dd)%> )</span>
        <p>{dr[remark]}</p>
      </li>
      <%/loop%>
    </ul>
    <div class="line10"></div>
    <div class="flickr">{pagelist}</div> <!--放置页码列表-->
    <div class="line10"></div>
  </div>
  <!-- end content -->

  <!-- .footer -->
  <%template src=/_footer.html/%>
  <!-- /.footer -->
</div>
</body>
</html>