<HTML>
<HEAD>
<TITLE> New Document </TITLE>
<SCRIPT LANGUAGE="JavaScript">
function getvalue(name){
    var str=window.location.search;   //location.search是从当前URL的?号开始的字符串
                                         if (str.indexOf(name)!=-1){        
        var pos_start=str.indexOf(name)+name.length+1;
        var pos_end=str.indexOf("&",pos_start);
        if (pos_end==-1){
            alert( str.substring(pos_start));
        }else{
            alert("没有此值~~");
        }
    }
</SCRIPT>
</HEAD>
<BODY>
<input type="button" onclick="getvalue('show')" value="GetValue"/>
</BODY>
</HTML>